@model IEnumerable<opinions.Models.opinion>

@{
    ViewData["Title"] = "Index";
}

<h1>Here is the list of all opinions that are posted</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create">Add New Opinion</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Part
            </th>
            <th>
                Opinion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.partOfCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.myopinion)
            </td>
            
            @if (User.IsInRole("Administrator") || User.IsInRole("PowerUser"))
                {
                <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
                    
                }
            
        </tr>
}
    </tbody>
</table>
